body {
  margin: 20px;
}

#title{
  color: Red;
}

table{
  border: 0.2px solid black;
  margin-left:30px;
}

table td{
  padding: 10px;
  font-size: 1em;
  font-family: sans-serif;
  text-align: left;
}
