body {
  margin: 20px;
}

#title{
  color: Red;
  background-color: whitesmoke;
}

table{
  margin-left:30px;
}

table td{
  padding: 10px;
  font-size: 1em;
  font-family: sans-serif;
  text-align: left;
}
table tr:nth-child(10){
  text-align:center;
  background-color:whitesmoke;
}
tr:hover{
  background-color: #f5f5f5;
}

ul.list_options{
  list-style-type: circle;
}

ul li {
  margin-bottom: 20px;
}
