body {
  margin: 20px;
}

#title{
  color: Red;
}

table{
  margin-left:30px;
}

table td{
  padding: 10px;
  font-size: 1em;
  font-family: sans-serif;
  text-align: left;
}

tr:hover{
  background-color: #f5f5f5;
}
